absl-py==1.0.0
aiohttp==3.7.4
argcomplete==1.12.3
argon2-cffi==21.1.0
asgiref==3.2.7
asn1crypto==0.24.0
astroid==2.2.5
astunparse==1.6.3
async-timeout==3.0.1
attrdict==2.0.1
attrs==21.2.0
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
cached-property==1.5.2
cachetools==3.1.1
certifi==2021.10.8
cffi==1.12.3
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.1
cryptography==2.7
cycler==0.10.0
DateTimeRange==0.6.1
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.6.0
Django==3.0.4
django-3-jet==1.0.8
django-activeurl==0.1.12
django-allauth==0.41.0
django-appconf==1.0.3
django-classy-tags==0.9.0
django-db-mutex==1.2.0
django-debug-toolbar==2.0
django-debug-toolbar-request-history==0.1.0
django-filter==2.3.0
django-formtools==2.1
django-phonenumber-field==5.0.0
django-scheduler==0.9.3
django-silk==4.1.0
django-simple-history==2.8.0
django-storages==1.7.1
django-tables2==2.1.0
django-webpack-loader==0.7.0
djangorestframework==3.11.1
entrypoints==0.3
et-xmlfile==1.1.0
fake-useragent==0.1.11
Flask==1.1.2
flatbuffers==2.0
future==0.18.2
gast==0.5.3
google==3.0.0
google-api-core==1.22.1
google-api-python-client==1.10.0
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-core==1.0.3
google-cloud-error-reporting==0.33.0
google-cloud-logging==1.14.0
google-cloud-storage==1.18.0
google-cloud-tasks==1.3.0
google-pasta==0.2.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
gprof2dot==2019.11.30
greenlet==1.1.2
grpc-google-iam-v1==0.12.3
grpcio==1.31.0
gunicorn==19.9.0
h5py==3.6.0
httplib2==0.13.1
icalendar==4.0.3
idna==3.3
imageio==2.6.1
importlib-metadata==4.8.1
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
isort==4.3.20
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==0.16.0
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jws==0.1.3
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libclang==13.0.0
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.1.2
matplotlib-inline==0.1.3
mbstrdecoder==0.8.1
mccabe==0.6.1
mistune==0.8.4
multidict==5.2.0
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.5
numpy==1.21.5
oauth2client==3.0.0
oauthlib==3.0.2
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.2
pageviewapi==0.4.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.2
pendulum==2.1.2
phonenumbers==8.10.21
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.12.0
prompt-toolkit==3.0.21
protobuf==3.13.0
psycopg2==2.8.5
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.6.0
pycparser==2.19
pycryptodome==3.12.0
Pygments==2.7.0
PyJWT==1.7.1
pylint==2.3.1
PyMySQL==1.0.2
pyngrok==1.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.18.0
PySocks==1.7.0
python-dateutil==2.8.2
python-google-calendar-api==0.5
python-jwt==2.0.1
python3-openid==3.1.0
pytz==2022.1
pytzdata==2020.1
pywin32==302
pywinpty==1.1.5
PyYAML==5.1.2
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
rsa==4.0
scipy==1.7.1
search-engine-parser==0.6.6
Send2Trash==1.8.0
simpy==4.0.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.35
sqlparse==0.3.0
style==1.1.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
twilio==6.30.0
typed-ast==1.3.5
typepy==0.6.0
typing-extensions==3.10.0.2
update==0.0.1
uritemplate==3.0.0
urllib3==1.26.9
virtualenv==16.6.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.11.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
yarl==1.7.2
zipp==3.6.0
